name: black

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths: ["setup.py", "tm1filetools/**/*", "tests/**/*"]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
